.box{
    background-color: #f8f8f8;
    width: 300px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;

}
.box .img img{
    width: 100%;
    object-fit: cover;
    height: 16rem;
}
.box-body{
    padding: 10px;
}
.box-body button{
    background-color: black;
    color: #fff;
    transition: 1s;
    padding: 10px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    border: 1px solid black;
    display: flex;
    align-items: center;
    gap: 0.5rem ;
}
.box-body button:hover{
    background-color: #fff;
    color: black;
}
